html.wp-toolbar body.mailerglue-no-wp-ui {
	margin-top: -32px;
}

body.mailerglue-no-wp-ui {

	background: #fff;

	#wpadminbar,
	#adminmenuback,
	#adminmenuwrap,
	#wpfooter,
	.notice {
		display: none !important;
	}

	#wpcontent,
	#wpfooter {
		margin: 0;
	}

	#wpcontent,
	#wpbody-content {
		padding: 0;
		float: none;
	}

	#mailerglue-onboarding {
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	#wpwrap {
		display: flex;
		flex-direction: column;
		height: calc(100% + 32px);
	}

	#wpbody,
	#wpbody-content {
		height: 100%;
	}

}
